{% extends 'admin/index2admin.html' %}
{% block content %}

<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 p-r-0 title-margin-right">
                    <div class="page-header">
                        <div class="page-title">
                            <h1>Hello, <span>Welcome Here</span></h1>
                        </div>
                    </div>
                </div>
                <!-- /# column -->
                <div class="col-lg-4 p-l-0 title-margin-left">
                    <div class="page-header">
                        <div class="page-title">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                                <li class="breadcrumb-item active">Form-Basic</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- /# column -->
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-title">
                            <h4>BRAND KIDS NAME</h4>
                            
                        </div>
                        <div class="card-body">
                            <div class="basic-form">
                                <form action="{% url 'scart' %}" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label>Brand Name</label>
                                        <input type="text" class="form-control" name="name" id="Name" aria-describedby="brandHelp">
                                    </div>
                                    <div class="form-group">
                                        <label>Description</label>
                                        <textarea type="text" class="form-control" name="description" id="Description"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label>Brand Image</label>
                                        <input type="file" class="form-control" name="img" id="file">
                                    </div>
                                    <center><button type="submit" class="btn btn-primary">Submit</button>
                                        <button type="reset" class="btn btn-primary">Cancel</button></center>
                                   
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}