{% extends 'admin/index2admin.html' %}
{% block content %}
<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 p-r-0 title-margin-right">
                    <div class="page-header">
                        <div class="page-title">
                            <h1>Hello, <span>Welcome Here</span></h1>
                        </div>
                    </div>
                </div>
                <!-- /# column -->
                <div class="col-lg-4 p-l-0 title-margin-left">
                    <div class="page-header">
                        <div class="page-title">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                                <li class="breadcrumb-item active">Form-Basic</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- /# column -->
            </div>
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-title">
                        <h2>Ladies Table</h2>
                        
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                      <th>Name</th>
                                      <th>Description</th>
                                      <th>image</th>
                                      <th>Edit / Delete</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                  {% for i in data %}
                                    <tr>
                                      <td style="white-space:pre-wrap; word-wrap:break-word">{{i.fname}}</td>
                                      <td style="white-space:pre-wrap; word-wrap:break-word">{{i.description}}</td>
                                      <td ><img src="{{i.img.url}}" width="100" height="100"></td>
                                      <td> <a href="{% url 'Lbrandedit' Lid=i.id %}"><button type="button" class="btn btn-success">Edit</button> <a href="{% url 'Lbranddelete' Ldid=i.id %}"><button type="button" class="btn btn-danger">Delete</button></a></td>
                                    </tr>  
                                  {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}   